@import "_variables";

.containerLogo {
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: $azul-color;
  align-items: center;

  .logo {
    width: 70%;
  }

  @media (min-width: 1024px) {
    .logo {
      width: 40%;
    }
  }

  @media (min-width: 768px) {
    .logo {
      width: 80%;
    }
  }
}
